{% extends 'base.html'%}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content%}
<!DOCTYPE html>
<html>
    <head>
    <title>{{ title }}</title>

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='js/script.js')}}">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--my fonts-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body style="background-image:url('http://static.digg.com/images/cfbcc8017b904a0e9ab23c72bed00252_2a910f968f6048b3b63a0bac618580b5_header.jpeg' );"no-repeat>
       
    <div class="row">
        <div class="col-md-4">
        {% for pitch in pitches %}
        
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Category: {{ pitch.category }}</h4></div>
                        <div class="panel-body">
                            <p style="color:red" >{{ pitch.post }}</p>
                            <p> {{ pitch.title }}</p>
                            <p>{{pitch.body}}</p>
                            
                            <p><a href="{{url_for('main.comment')}}">Comment here</a>
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                            </p>


                            </div>
                        </div>
    
         {% endfor %}
        </div>
    </div>
    
    </body>
</html>
{% endblock content%}