{% extends 'base.html'%}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content%}
<!DOCTYPE html>
<html>
    <head>
    <title>{{ title }}</title>

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='js/script.js')}}">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--my fonts-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body style="background-color:darkslategrey">
       
    <div class="row">
        <div class="col-md-4">
        {% for blog in blogs %}
        
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Category: {{ blog.category }}</h4></div>
                        <div class="panel-body">
                            <p style="color:red" >{{ blog.post }}</p>
                            <p> {{ blog.title }}</p>
                            <p>{{blog.body}}</p>
                            
                            <p><a href="{{url_for('main.comment')}}">Rate it</a>
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                            </p>


                            </div>
                        </div>
                        <div class="col-md-6">
                          
                            
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h4>Category: {{ blog.category }}</h4></div>
                                            <div class="panel-body">
                                                <p style="color:red" >{{ blog.post }}</p>
                                                <p> {{ blog.title }}</p>
                                                <p>{{blog.body}}</p>
                                                
                                                <p><a href="{{url_for('main.comment')}}">Rate it</a>
                                                <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                                                </p>
                    
                    
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                            </div>
    
         {% endfor %}
        </div>
    </div>
    
    </body>
</html>
{% endblock content%}